{% extends 'main.html' %}

{% block content %}

{% if page == 'login'%}

<div>

    <form method="POST" action="">
        {% csrf_token %}
        <lable>Username:</lable>
        <input type="text" name="username" placeholder="Enter Username"/>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password"/>
        <input type="submit" value="Login"/>

    </form>

    <p> haven't signed up yet?</p>
    <a href="{%url 'register'  %}"> Sign up</a>
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% else %}

<div>
    <form method="GET" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register" />
    </form>
    <p> Already signed up?</p>
    <a href="{% url 'login' %}"> Login</a>
</div>

<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}



</div>
{% endif %}
{% endblock content %}